:root {
  --primary-color: #606b56;
  --secondary-color: #515a48;

  --border-color: #161914;

  --primary-text: #fff;
  --secondary-text: #eeeeee;

  --theme-dot-border: #fff;

  --intro-border: #17a2b8;

  --preview-background: rgba(81, 90, 72, 0.8);
  --preview-shadow: #2a2f25;
}