* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body * {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body {
  background-color: lightgray;
}

h1, h2, h3, h4, h5, h6, strong {
  color: #000;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

.sections {
  background-color: #fff;
  border-bottom: 1px solid #c1c1c1;
}

.main-container {
  width: 1200px;
  margin: auto;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.intro-wrapper {
  margin-top: 4rem;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  border-radius: 5px 5px 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'nav-wrapper nav-wrapper' 'greeting-wrapper greeting-wrapper' 'left-wrapper right-wrapper';
}

.intro-wrapper .nav-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav-wrapper;
  background-color: #eaeaea;
  border-bottom: 1px solid #c1c1c1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px 5px 0 0;
}

.intro-wrapper .nav-wrapper .dots-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.intro-wrapper .nav-wrapper .dots-wrapper .browser-dots {
  background-color: greenyellow;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.intro-wrapper .nav-wrapper .dots-wrapper #dot-1 {
  background-color: #fc6058;
}

.intro-wrapper .nav-wrapper .dots-wrapper #dot-2 {
  background-color: #fec02f;
}

.intro-wrapper .nav-wrapper .dots-wrapper #dot-3 {
  background-color: #2aca3e;
}

.intro-wrapper .nav-wrapper #navigation {
  margin: 0;
  padding: 10px;
}

.intro-wrapper .nav-wrapper #navigation li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.intro-wrapper .greeting-wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: greeting-wrapper;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0 0;
}

.intro-wrapper .left-wrapper {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: left-wrapper;
  margin-top: 30px;
  margin-bottom: 30px;
}

.intro-wrapper .left-wrapper #profile-pic {
  display: block;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #c1c1c1;
}

.intro-wrapper .left-wrapper h5 {
  text-align: center;
}

.intro-wrapper .left-wrapper .theme-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.intro-wrapper .left-wrapper .theme-options .theme-dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: greenyellow;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin: 5px;
  border: 2px solid #24292e;
}

.intro-wrapper .left-wrapper .theme-options .theme-dot:hover {
  border-width: 5px;
}

.intro-wrapper .left-wrapper .theme-options #light-mode {
  background-color: #fff;
}

.intro-wrapper .left-wrapper .theme-options #blue-mode {
  background-color: #192734;
}

.intro-wrapper .left-wrapper .theme-options #green-mode {
  background-color: #78866b;
}

.intro-wrapper .left-wrapper .theme-options #purple-mode {
  background-color: #7e4c74;
}

.intro-wrapper .left-wrapper #settings-note {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
}

.intro-wrapper .right-wrapper {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: right-wrapper;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.intro-wrapper .right-wrapper #preview-shadow {
  background-color: #f0ead6;
  width: 300px;
  height: 150px;
  padding-left: 30px;
  padding-top: 30px;
}

.intro-wrapper .right-wrapper #preview-shadow #preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: rgba(251, 249, 243, 0.8);
  padding: 15px;
  position: relative;
}

.intro-wrapper .right-wrapper #preview-shadow #preview .corner {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}

.intro-wrapper .right-wrapper #preview-shadow #preview #corner-top-left {
  top: -5px;
  left: -5px;
}

.intro-wrapper .right-wrapper #preview-shadow #preview #corner-top-right {
  top: -5px;
  right: -5px;
}

.intro-wrapper .right-wrapper #preview-shadow #preview #corner-bottom-left {
  bottom: -5px;
  left: -5px;
}

.intro-wrapper .right-wrapper #preview-shadow #preview #corner-bottom-right {
  bottom: -5px;
  right: -5px;
}

.about-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 100px;
  padding: 50px;
}

.about-wrapper .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 3rem;
}

.about-wrapper .about-me h4 {
  margin-bottom: 20px;
}

.about-wrapper .about-me p {
  margin-bottom: 10px;
}

.about-wrapper .about-me hr {
  margin: 20px 0;
}

.about-wrapper .about-me #skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #f0ead6;
}

.about-wrapper .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 3rem;
}

.about-wrapper .social-links h3 {
  margin-bottom: 2rem;
}

.about-wrapper .social-links a {
  padding: 0.5rem;
}
/*# sourceMappingURL=main.css.map */