body * {
  transition: 0.6s;
}

body {
  background-color: $body-background;
}

h1, h2, h3, h4, h5, h6, strong {
  color: $primary-text;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

.sections {
  background-color: $secondary-color;
  border-bottom: 1px solid $border-color;
}

.main-container {
  width: 1200px;
  margin: auto;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}