h1, h2, h3, h4, h5, h6, strong {
  color: $primary-text;
}

p, li, span, label, input, textarea {
  color: $secondary-color;
}

.s1 {
  background-color: $primary-color;
  border-bottom: 1px solid $border-color;
}

.s2 {
  background-color: $secondary-color;
  border-bottom: 1px solid $border-color;
}