$primary-color: #eaeaea;
$secondary-color: #fff;
$body-background: lightgray;

$border-color: #c1c1c1;

$primary-text: #000;
$secondary-text: #4b5156;

$theme-dot-border: #24292e;

$intro-border: #17a2b8;

$preview-background: rgba(251, 249, 243, 0.8);
$preview-shadow: #f0ead6;